*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    /* line-height: 1.5px; */
    font-size: 15px;
    background-color: #f7f8fc;
    color: #000;
}