*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 20px;
}

.main-nav ul {
    display: flex;
    margin: 70px;
    padding-top: 2rem;
}

.main-nav ul li {
    /* padding: 0px 10px; */

}

.main-nav ul li a:hover {
    color: #999999;
    cursor: pointer;
}

.main-nav ul.menu {
    flex: 1;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    /* line-height: 1.5px; */
    font-size: 15px;
     background-color: #f7f8fc; */
    color: #000;
    /* background: url(../images/pic6.jpg) no-repeat center center/cover; */
    opacity: .8;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 70vmax;
    margin: 5em;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10rem;
    padding: 1rem; */
}
h1{
    padding: 1em;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;

}

h2{
    padding: 0.5em;
    text-align: center;
}
p{
    margin: 1rem 1.5rem 1.5rem 1.5rem;
    text-align: justify;

}
 .last {
     padding-bottom: 5rem; }

 img{
    object-fit: cover;
    width: 90%;
}

.container ul{
    list-style: circle;
    margin: 1rem 1.5rem 1.5rem 1.5rem;

}

ol {
    margin: 1rem 1.5rem 1.5rem 1.5rem;

}